# Statistics Introduction Applied to Data Science
## Lab : One
### Data types in Python

In [ ]:
# This is a comment in python
# print message on the screen
print('Hello world, from Python !!')

In [ ]:
# Python includes predefined libraries with functions that facilitate our job.
# What python version we use?
# We use sys library to see python version.
import sys
print(sys.version)

In [ ]:
# We can check datatype with command type.
type('Hola Mundo, desde Python !!')

### Practice One: Print your name on the screen.

In [ ]:
# Type your code here

### Others datatypes

In [ ]:
print(11)
print(type(11))

In [ ]:
print(3.1416)
print(type(3.1416))

In [ ]:
# Merge string and number in one output
pi = 3.1416
print("The pi number is:", pi)

### Practice Two: Print "My age is: " and next, outside quotation mark print your age number.

In [ ]:
# Type your code here

### Typecasting

In [ ]:
# Datatype integer
type(225)

In [ ]:
# Datatype float
my_float = float(225)
my_float

In [ ]:
# Check datatype float
type(my_float)

In [ ]:
# From float to integer
my_integer = int(225.75)
my_integer

In [ ]:
type(my_integer)

In [ ]:
# From string to number
my_string = '225'
int(my_string)

In [ ]:
float(my_string)

In [ ]:
float('cat')

### From number to string

In [ ]:
str(225)

In [ ]:
str(3.1416)

### Boolean datatype

In [ ]:
type(True)

In [ ]:
int(True)

In [ ]:
int(False)

### Practice Three: What kind of data result if divide 15 / 3?

In [ ]:
# Type your code here

### Practice Four: What kind of data result if operate 15 % 3?

In [ ]:
# Type your code here