# Statistics Introduction Applied to Data Science
## Lab : Five
## Data Pre-Processing

### Required libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_test = pd.read_csv('data/Operations_empty.csv')

In [ ]:
df_test.head()

We eliminate the missing values from shopping column

In [ ]:
df_test.dropna(subset=["Purchases"], axis=0, inplace = True)
df_test.head()

We replace the missing values of sales column with the average value.

In [ ]:
my_mean = df_test["Sales"].mean()
df_test["Sales"].replace(np.nan, int(my_mean), inplace = True)
df_test.head()

We add the columns Purchases, Sales and Refunds in thousands.

In [ ]:
df_test["Purchases in thousands"] = df_test["Purchases"]/1000
df_test["Sales in thousands"] = df_test["Sales"]/1000
df_test["Refunds in thousands"] = df_test["Refunds"]/1000

df_test.head()

We correct the data type of the customer column with the method astype()

In [ ]:
df_test = df_test.astype({'Customer':'object'})
df_test.dtypes

## Data Normalization
For this exercise we are going to use the employee data set.

In [ ]:
df_employees = pd.read_csv('data/Employees.csv')
df_employees

We are going to normalize the variables Age, Years worked and Salary.

In [ ]:
df_employees[['Age','Worked years','Salary']].head()

Simple Feature Scaling method.

In [ ]:
df_norm1 = df_employees

df_norm1["Age"] = df_norm1["Age"] / df_norm1["Age"].max()
df_norm1["Worked years"] = df_norm1["Worked years"] / df_norm1["Worked years"].max()
df_norm1["Salary"] = df_norm1["Salary"] / df_norm1["Salary"].max()

df_norm1[['Age','Worked years','Salary']].head()

Min-Max method.

In [ ]:
df_norm2 = df_employees

df_norm2["Age"] = (df_norm2["Age"] - df_norm2["Age"].min()) / (df_norm2["Age"].max() - df_norm2["Age"].min())
df_norm2["Worked years"] = (df_norm2["Worked years"] - df_norm2["Worked years"].min()) / (df_norm2["Worked years"].max() - df_norm2["Worked years"].min())
df_norm2["Salary"] = (df_norm2["Salary"] - df_norm2["Salary"].min()) / (df_norm2["Salary"].max() - df_norm2["Salary"].min())

df_norm2[['Age','Worked years','Salary']].head()

Z-Score method.

In [ ]:
df_norm3 = df_employees

df_norm3["Age"] = (df_norm3["Age"] - df_norm3["Age"].mean()) / df_norm3["Age"].std()
df_norm3["Worked years"] = (df_norm3["Worked years"] - df_norm3["Worked years"].mean()) / df_norm3["Worked years"].std()
df_norm3["Salary"] = (df_norm3["Salary"] - df_norm3["Salary"].mean()) / df_norm3["Salary"].std()

df_norm3[['Age','Worked years','Salary']].head()

In [ ]:
df_test.head(10)

## Grouping into Classes
We group sales into three categories: Low, Medium and High.

In [ ]:
my_class = np.linspace(min(df_test["Sales"]), max(df_test["Sales"]), 4)
group_names = ["Low","Medium","High"]

df_test["Sales Category"] = pd.cut(df_test["Sales"], my_class, labels = group_names, include_lowest = True)

df_test[['Sales','Sales Category']].head()

In [ ]:
df_test[['Payment Type','Purchases','Sales','Refunds','Country','Continent','Sales Category']].head()

## Converting a categorical variable to numeric.
#### Note that to join the dummy variables with the dataframe we use the concat method of Pandas library.

In [ ]:
df_dummies = pd.get_dummies(df_test['Payment Type'])
df_test2 = pd.concat([df_test, df_dummies], axis = 1, sort = False)

df_test2.head()

### Practice One

Add three columns to the df_test dataframe. The names of the new columns will be: "Normal Sales", "Normal Purchases" and "Normal Refunds". The data in each column correspond to the normalized values of Sales, Purchases and Refunds, respectively. Use the normalization method of your choice.

In [ ]:
# Type your code here

### Practice Two:

Use the get_dummies and concat method to convert the Grade variable from df_employees dataframe into a numeric variable. Add the new numeric variables to the df_employees dataframe.

In [ ]:
# Type your code here